[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
numpy = "*"
matplotlib = "*"
synology-api = {git = "https://github.com/N4S4/synology-api"}
python-magic = "*"
kodijsonrpc = "*"

[requires]
python_version = "3.11"
